.Item {
  list-style: none;
  font-size: 1.2rem;
}

.Item + .Item,
.Item:nth-child(1) {
  padding-bottom: 0.5rem;
}

.Item:last-child {
}

.Item:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.1);
}

.Item__container {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.Item__name {
  color: black;
  font-weight: 400;
}

.Item__progress-bar {
  width: 100%;
  margin-top: -0.15rem;
}
