.Item {
  list-style: none;
}

.Item + .Item,
.Item:nth-child(1) {
  margin-bottom: 1rem;
}

.Item__container {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.Item__name {
  color: #343a40;
  font-weight: bolder;
}

.Item__progress-bar {
  width: 100%;
}
