.ProgressBar {
  display: flex;
  overflow: hidden;
  background-color: rgb(226, 226, 226);
  border-radius: 0.25rem;
  min-height: 2rem;
}

.ProgressBar__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.125);
}

.ProgressBar__label {
  color: #fff;
  text-shadow: black 0 0 2px, black 1px 1px 0;
  padding: 0 1rem;
}

.ProgressBar__inner--nonperishable {
  background: linear-gradient(90deg, rgb(28, 176, 246) 0%, rgba(28, 176, 246, 0.7) 100%);
}

.ProgressBar__inner--fresh {
  background: linear-gradient(90deg, rgb(12, 199, 90) 0%, rgba(12, 199, 90, 0.7) 100%);
}

.ProgressBar__inner--warning {
  background: linear-gradient(90deg, rgb(255, 199, 21) 0%, rgba(255, 199, 21, 0.7) 100%);
}

.ProgressBar__inner--danger {
  background: linear-gradient(90deg, rgb(229, 56, 56) 0%, rgba(229, 56, 56, 0.7) 100%);
}

.ProgressBar__inner--expired {
  background: linear-gradient(90deg, rgb(52, 58, 64) 0%, rgba(52, 58, 64, 0.7) 100%);
}
