.Switch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: block;
  margin-top: -0.8rem;
}

.Switch__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 90px;
  height: 45px;
  background: grey;
  border-radius: 90px;
  position: relative;
  transition: background-color 0.2s;
}

.Switch__label .Switch__button {
  position: absolute;
  left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.Switch__checkbox:checked + .Switch__label .Switch__button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.Switch__label:active .Switch__button {
  width: 60px;
}
