/**********************************
  Override global box-sizing
***********************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a,
a:hover {
  text-decoration: none;
}

.Item {
  list-style: none;
}

.Item__container {
  margin: 16px auto;
}